body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8f9fc;
}

nav {
  background: #222;
  padding: 15px;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a.active {
  color: yellow;
}

.container {
  padding: 30px;
}

.topic {
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
}

pre {
  background: black;
  color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 8px;
  overflow-x: auto;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  background: #007bff;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}
